* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgbackground {
    width: 100%;
    height: 630px;
    position: relative;
    overflow: hidden;
    position:relative;
}

.imgbackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 1;
}
.headingoverimg{
    position:absolute;
    top:35%;
    left:10%;
    color:#fff;
    z-index:4;
}
.headingoverimg h1{
    font-size:4rem;
}
.headingoverimg span{
    color:rgb(140, 190, 211);
}
.headingoverimg p{
    font-size:1.4rem;
}
.divsecond{
    width:100%;
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:4rem 2rem;
}
.divsecond .divchild1, .divchild2{
    width:45%;
    padding:1rem;
}
.divsecond .divchild2 img{
    width:100%;
}
.divchild1 h1{
    font-size:1.9rem;
    margin-bottom:1rem;
    color:rgb(69, 168, 207);
}
.divchild1 h2{
    font-size:2.7rem;
    font-weight:bold;
    margin-bottom:1rem;
}
.divchild1 p{
    font-size:1.4rem;
    margin-bottom:1rem;
    color:#b3adad;
}
.divchild1 button{
    padding:1rem;
    color:#fff;
    border:none;
    font-size:1rem;
    margin-top:20px;
    border-radius:5px;
    background-color:rgb(89, 91, 92);
}
.divchild1 span{
    color:rgb(46, 140, 177);
}
.divchild2 ul li, .divthirdsection div ul li{
    position: relative;
    margin-left:40px;
}
.divchild2 ul li, .divthirdsection div ul li{
    list-style-type:none;
    font-size:1.4rem;
    margin-bottom:1rem;
    color:#b3adad;
}
.divchild2 ul li::before, .divthirdsection div ul li::before{
    content: "";
    width: 35px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: calc(10% - 1px);
    left: -45px;
    background-color:skyblue;
}
.divthirdsection{
    width:100%;
    position:relative;
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(81, 86, 87);
}
.divthirdsection div h1{
    font-size:2.7rem;
    margin:1rem;
    color:#e6e0e0;
}
.divthirdsection div{
    width:60%;
}
.divthirdsection div img{
    width:100%;
}
.divthirdsection div h2{
    font-size:1.4rem;
    color:#e6e0e0;
    margin:1rem 0px;
}
.divthirdsection div, .divthirdsection div ul li{
    color:#e6e0e0;
}
